.Titlebar-drag-region {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #2BC73B; */
    z-index: -1;
    -webkit-app-region: drag;
}

.resizer {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
}

.Title-Bar {
    top: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
}

.Title-Bar-inactive {
    top: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
}

.Title-Bar__section-center {
    /* background-color: rgb(157, 255, 0); */
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 0;
    align-items: center;
}

.Title-Bar__section-windows-control {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* needs no-drag for color changing div*/
    -webkit-app-region: no-drag;
}

.section-windows-control_box {
    width: 30px;
    height: 30px;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.05s ease-in;
}

.minimize-active_logo {
    fill: #363636;
    transition: all 0.05s ease-in;
}

.minimize-active_logo:hover {
    fill: #F8B92B;
    transition: all 0.05s ease-in;
}

.minimize-inactive_logo {
    fill: #757575;
    transition: all 0.05s ease-in;
}

.minimize-inactive_logo:hover {
    fill: #F8B92B;
    transition: all 0.05s ease-in;
}

.maximize-active_logo {
    fill: #363636;
    transition: all 0.05s ease-in;
}

.maximize-active_logo:hover {
    fill: #2BC73B;
    transition: all 0.05s ease-in;
}

.maximize-inactive_logo {
    fill: #757575;
    transition: all 0.05s ease-in;
}

.maximize-inactive_logo:hover {
    fill: #2BC73B;
    transition: all 0.05s ease-in;
}

.unmaximize-active_logo {
    fill: #363636;
    transition: all 0.05s ease-in;
}

.unmaximize-active_logo:hover {
    fill: #2BC73B;
    transition: all 0.05s ease-in;
}

.unmaximize-inactive_logo {
    fill: #757575;
    transition: all 0.05s ease-in;
}

.unmaximize-inactive_logo:hover {
    fill: #2BC73B;
    transition: all 0.05s ease-in;
}

.close-active_logo {
    fill: #363636;
    transition: all 0.05s ease-in;
}

.close-active_logo:hover {
    fill: #F35D58;
    transition: all 0.05s ease-in;
}

.close-inactive_logo {
    fill: #757575;
    transition: all 0.05s ease-in;
}

.close-inactive_logo:hover {
    fill: #F35D58;
    transition: all 0.05s ease-in;
}


.Title-Bar > div:nth-child(3) {
    flex: 1;
    flex-basis: 0;
}
.Title-Bar::after {
    content: '';
    flex: 1;
    flex-basis: 0;
}