.Titlebar-drag-region {
    -webkit-app-region: drag;
}

.resizer {
    -webkit-app-region: no-drag;
}

.Title-Bar__section-windows-control {
    -webkit-app-region: no-drag;
    transition: all 0.05s ease-in;
}
