@tailwind base;

@layer base {
  h1 {
    @apply block text-[2em] mt-[0.67em] mb-[0.67em] font-bold;
  }

  h2 {
    @apply block text-[1.5em] mt-[0.83em] mb-[0.83em] font-bold;
  }

  h3 {
    @apply block text-[1.17em] mt-[1em] mb-[1em] font-bold;
  }

  h4 {
    @apply block mt-[1.33em] mb-[1.33em] font-bold;
  }

  h5 {
    @apply block text-[0.83em] mt-[1.67em] mb-[1.67em] font-bold;
  }

  h6 {
    @apply block text-[0.67em] mt-[2.33em] mb-[2.33em] font-bold;
  }

  html {
    @apply w-full h-full;
  }

  body {
    @apply overflow-hidden w-full h-full;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-300 dark:bg-gray-500;
    /* border-radius: 5px; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-400;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-300;
  }
}

@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Amiri";
  src: url("/src/fonts/Amiri-Regular.ttf");
}

@font-face {
  font-family: "Estedad";
  src: url("/src/fonts/Estedad-Regular.ttf");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/src/fonts/Vazirmatn-Regular.ttf");
}

html.dark {
  color-scheme: dark;
  background-color: rgb(15, 23, 42);
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

html,
body {
    direction: rtl;
}

.item {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mask {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.nav>div:first-child {
  flex: 1;
}

.nav::after {
  content: '';
  flex: 1;
  flex-basis: 0;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* Style the loader spinner */
.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}